<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cate-SIS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body
    class="bg-gradient-to-br from-blue-200 via-yellow-100 to-lime-200 min-h-screen flex items-center justify-center p-4">
    <div class="w-full max-w-md">
        <!-- Tarjeta -->
        <div class="bg-white rounded-2xl shadow-xl p-8">
            <!-- Título -->
            <h2 class="text-2xl font-bold text-center text-gray-800 mb-8">
                Ver vista de:
            </h2>

            <!-- Botones superiores -->
            <div class="flex gap-4 mb-8">
                <a class=" text-center flex-1 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-xl transition duration-200 transform hover:-translate-y-1 hover:shadow-lg"
                    href="Cate-SIS Login.html">
                    Login
                </a>

                <a class=" text-center flex-1 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-xl transition duration-200 transform hover:-translate-y-1 hover:shadow-lg"
                    href="Cate-SIS Register.html">
                    Register
                </a>

            </div>

            <!-- Botones inferiores -->
            <div class="grid grid-cols-2 gap-4">
                <a class=" text-center px-4 py-2 bg-slate-200 rounded-xl text-gray-600 hover:scale-105 hover:text-gray-800 transition"
                    href="Cate-SIS Admin.html">Admin</a>

                <a class=" text-center px-4 py-2 bg-slate-200 rounded-xl text-gray-600 hover:scale-105 hover:text-gray-800 transition"
                    href="Cate-SIS Docente.html">Docente</a>

                <a class=" text-center px-4 py-2 bg-slate-200 rounded-xl text-gray-600 hover:scale-105 hover:text-gray-800 transition"
                    href="Cate-SIS Estudiante.html">Estudiante</a>


                <a class=" text-center px-4 py-2 bg-slate-200 rounded-xl text-gray-600 hover:scale-105 hover:text-gray-800 transition"
                    href="Cate-SIS Secretaria.html">Secretaría</a>
            </div>





        </div>
    </div>
</body>

</html>