---

---

<!-- Habilidades Section -->
    <section id="habilidades" class="py-16 mb-56">
      <div class="container mx-auto px-4 max-w-6xl">
        <!-- Título de la sección -->
        <div class="text-center mb-12">
          <h2 id="skillsTittle" class="section-title text-white text-4xl font-bold mb-10 relative text-center pb-4">
            Habilidades
          </h2>
        </div>

        <!-- Contenedor de las 3 tarjetas principales -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

          <!-- Tarjeta 1: Frontend Stack -->
          <div
            class="bg-slate-900/70 backdrop-blur-sm border border-slate-900 rounded-2xl p-6 shadow-lg hover:border-cyan-800 transition-all duration-300">
            <div class="mb-6">
              <h3 class="text-2xl font-bold text-white mb-4 flex items-center gap-3">
                
                <!-- SVG Frontend -->
                <svg width="24" height="24"> 
                  <use href="#icon-monitor-dot" />
                </svg>
                Frontend
              </h3>
            </div>

            <!-- Cuadrícula responsiva para tecnologías Frontend -->
            <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-2 md:gap-4">
              <!-- HTML -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-orange-600 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- SVG HTML -->
                <svg width="full" height="full"> 
                  <use href="#icon-html" />
                </svg>

                </div>
                <span class="text-white font-medium text-xs sm:text-sm text-center">HTML</span>
              </div>

              <!-- CSS -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-blue-700 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- SVG CSS -->
                <svg width="full" height="full"> 
                  <use href="#icon-css" />
                </svg>

                </div>
                <span class="text-white font-medium text-xs sm:text-sm text-center">CSS</span>
              </div>

              <!-- JavaScript -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-yellow-300 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- SVG JavaScript -->
                <svg width="full" height="full"> 
                  <use href="#icon-javascript" />
                </svg>

                </div>
                <span class="text-white font-medium text-xs sm:text-sm text-center">JavaScript</span>
              </div>

              <!-- Tailwind -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-sky-400 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  

                   <!-- SVG Tailwind -->
                <svg width="full" height="full"> 
                  <use href="#icon-tailwind" />
                </svg>

                </div>
                <span class="text-white font-medium text-xs sm:text-sm text-center">Tailwind</span>
              </div>

              <!-- Bootstrap -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-violet-600 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- SVG Bootstrap -->
                <svg width="full" height="full"> 
                  <use href="#icon-bootstrap" />
                </svg>

                </div>
                <span class="text-white font-medium text-xs sm:text-sm text-center">Bootstrap</span>
              </div>

              <!-- Astro -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-white transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                    
                  <!-- SVG Astro -->
                <svg fill="none" viewBox="0 0 85 107">
                  <path fill="#fff" d="M27.59 91.136c-4.834-4.418-6.246-13.703-4.232-20.429 3.492 4.241 8.33 5.584 13.342 6.343 7.737 1.17 15.336.732 22.523-2.804.822-.405 1.582-.943 2.48-1.489.675 1.957.85 3.932.615 5.943-.573 4.896-3.01 8.678-6.885 11.545-1.55 1.147-3.19 2.172-4.79 3.253-4.917 3.323-6.247 7.22-4.4 12.888.044.139.084.277.183.614-2.51-1.124-4.344-2.76-5.742-4.911-1.475-2.27-2.177-4.78-2.214-7.498-.019-1.322-.019-2.656-.197-3.96-.434-3.178-1.926-4.601-4.737-4.683-2.884-.084-5.166 1.699-5.771 4.507-.046.216-.113.429-.18.68l.004.001Z"/><path fill="url(#astro_icon_dark__a)" d="M27.59 91.136c-4.834-4.418-6.246-13.703-4.232-20.429 3.492 4.241 8.33 5.584 13.342 6.343 7.737 1.17 15.336.732 22.523-2.804.822-.405 1.582-.943 2.48-1.489.675 1.957.85 3.932.615 5.943-.573 4.896-3.01 8.678-6.885 11.545-1.55 1.147-3.19 2.172-4.79 3.253-4.917 3.323-6.247 7.22-4.4 12.888.044.139.084.277.183.614-2.51-1.124-4.344-2.76-5.742-4.911-1.475-2.27-2.177-4.78-2.214-7.498-.019-1.322-.019-2.656-.197-3.96-.434-3.178-1.926-4.601-4.737-4.683-2.884-.084-5.166 1.699-5.771 4.507-.046.216-.113.429-.18.68l.004.001Z"/><path fill="#fff" d="M0 69.587s14.314-6.973 28.668-6.973L39.49 29.12c.405-1.62 1.588-2.72 2.924-2.72 1.335 0 2.518 1.1 2.924 2.72L56.16 62.614c17 0 28.668 6.973 28.668 6.973S60.514 3.352 60.467 3.219C59.769 1.261 58.591 0 57.003 0H27.827c-1.588 0-2.718 1.261-3.464 3.22C24.311 3.35 0 69.586 0 69.586Z"/><defs><linearGradient id="astro_icon_dark__a" x1="22.47" x2="69.145" y1="107" y2="84.947" gradientUnits="userSpaceOnUse"><stop stop-color="#D83333"/><stop offset="1" stop-color="#F041FF"/></linearGradient></defs>
                </svg>

                </div>
                <span class="text-white font-medium text-xs sm:text-sm text-center">Astro</span>
              </div>


            </div>
          </div>

          <!-- Tarjeta 2: Backend Stack -->
          <div
            class="bg-slate-900/70 backdrop-blur-sm border border-slate-900 rounded-2xl p-6 shadow-lg hover:border-cyan-800 transition-all duration-300">
            <div class="mb-6">
              <h3 class="text-2xl font-bold text-white mb-4 flex items-center gap-3">
                
                <!-- SVG Backend -->
                <svg width="24" height="24"> 
                  <use href="#icon-server" />
                </svg>
                
                Backend
              </h3>
            </div>
            <!-- Cuadrícula responsiva para tecnologías Backend -->
            <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-2 md:gap-4">
              <!-- PHP -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-fuchsia-500 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- SVG PHP -->
                <svg width="128" height="128"> 
                  <use href="#icon-php" />
                </svg>

                </div>
                <span class="text-white font-medium text-xs text-center">PHP</span>
              </div>

              <!-- MySQL -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-white transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  

                  <!-- SVG MySQL -->
                <svg width="full" height="full"> 
                  <use href="#icon-mysql" />
                </svg>

                  
                </div>
                <span class="text-white font-medium text-xs text-center">MySQL</span>
              </div>

              <!-- Codeignater -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-orange-500 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                   <!-- SVG Codeigniter -->
                <svg width="full" height="full"> 
                  <use href="#icon-codeigniter" />
                </svg>

                </div>
                <span class="text-white font-medium text-xs text-center">Codeigniter</span>
              </div>
            </div>
          </div>

          <!-- Tarjeta 3: Tools -->
          <div
            class="bg-slate-900/70 backdrop-blur-sm border border-slate-900 rounded-2xl p-6 shadow-lg hover:border-cyan-800 transition-all duration-300">
            <div class="mb-6">
              <h3 class="text-2xl font-bold text-white mb-4 flex items-center gap-3">
                

                <!-- SVG Tools -->
                <svg width="24" height="24"> 
                  <use href="#icon-wrench" />
                </svg>
                
                Tools
              </h3>
            </div>

            <!-- Cuadrícula 4x4 para herramientas -->
            <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-2 md:gap-4">
              <!-- Git -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-orange-500 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- Git -->
                  <svg width="full" height="full"> 
                    <use href="#icon-git" />
                  </svg>
                
                
                </div>
                <span class="text-white font-medium text-xs text-center">Git</span>
              </div>

              <!-- GitHub -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-white transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">

                  <!-- GitHub -->
                  <svg width="full" height="full"> 
                    <use href="#icon-github" />
                  </svg>




                </div>
                <span class="text-white font-medium text-xs text-center">GitHub</span>
              </div>





              <!-- VS Code -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-sky-500 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- VS Code -->
                  <svg width="full" height="full"> 
                    <use href="#icon-vscode" />
                  </svg>
                  
                </div>
                <span class="text-white font-medium text-xs text-center">VS Code</span>
              </div>



              <!-- Figma -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-red-400 transition-all duration-300 hover:scale-105">

                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  <!-- SVG intacto -->
                  
                  <!-- Figma -->
                  <svg width="full" height="full"> 
                    <use href="#icon-figma" />
                  </svg>
                  
                  
                </div>

                <span class="text-white font-medium text-xs text-center">
                  Figma
                </span>
              </div>





              <!-- Xampp -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-orange-400 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- Xampp -->
                  <svg width="full" height="full"> 
                    <use href="#icon-xampp" />
                  </svg>
                  
                  
                </div>
                <span class="text-white font-medium text-xs text-center">Xampp</span>
              </div>

              <!-- Vite -->
              <div
                class="flex flex-col items-center p-3 bg-slate-800 rounded-lg hover:bg-slate-800/50 border border-transparent hover:border-purple-500 transition-all duration-300 hover:scale-105">
                <div class="w-10 h-10 flex items-center justify-center mb-2">
                  
                  <!-- Vite -->
                  <svg fill="none" viewBox="0 0 48 46">
                    <path fill="#863bff" d="M25.946 44.938c-.664.845-2.021.375-2.021-.698V33.937a2.26 2.26 0 0 0-2.262-2.262H10.287c-.92 0-1.456-1.04-.92-1.788l7.48-10.471c1.07-1.497 0-3.578-1.842-3.578H1.237c-.92 0-1.456-1.04-.92-1.788L10.013.474c.214-.297.556-.474.92-.474h28.894c.92 0 1.456 1.04.92 1.788l-7.48 10.471c-1.07 1.498 0 3.579 1.842 3.579h11.377c.943 0 1.473 1.088.89 1.83L25.947 44.94z" style="fill:#863bff;fill:color(display-p3 .5252 .23 1);fill-opacity:1"/><mask id="vite__mask0_2002_17158" width="48" height="46" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha"><path fill="#000" d="M25.842 44.938c-.664.844-2.021.375-2.021-.698V33.937a2.26 2.26 0 0 0-2.262-2.262H10.183c-.92 0-1.456-1.04-.92-1.788l7.48-10.471c1.07-1.498 0-3.579-1.842-3.579H1.133c-.92 0-1.456-1.04-.92-1.787L9.91.473c.214-.297.556-.474.92-.474h28.894c.92 0 1.456 1.04.92 1.788l-7.48 10.471c-1.07 1.498 0 3.578 1.842 3.578h11.377c.943 0 1.473 1.088.89 1.832L25.843 44.94z" style="fill:#000;fill-opacity:1"/></mask><g mask="url(#vite__mask0_2002_17158)"><g filter="url(#vite__filter0_f_2002_17158)"><ellipse cx="5.508" cy="14.704" fill="#ede6ff" rx="5.508" ry="14.704" style="fill:#ede6ff;fill:color(display-p3 .9275 .9033 1);fill-opacity:1" transform="matrix(.00324 1 1 -.00324 -4.47 31.516)"/></g><g filter="url(#vite__filter1_f_2002_17158)"><ellipse cx="10.399" cy="29.851" fill="#ede6ff" rx="10.399" ry="29.851" style="fill:#ede6ff;fill:color(display-p3 .9275 .9033 1);fill-opacity:1" transform="matrix(.00324 1 1 -.00324 -39.328 7.883)"/></g><g filter="url(#vite__filter2_f_2002_17158)"><ellipse cx="5.508" cy="30.487" fill="#7e14ff" rx="5.508" ry="30.487" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(89.814 -25.913 -14.639)scale(1 -1)"/></g><g filter="url(#vite__filter3_f_2002_17158)"><ellipse cx="5.508" cy="30.599" fill="#7e14ff" rx="5.508" ry="30.599" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(89.814 -32.644 -3.334)scale(1 -1)"/></g><g filter="url(#vite__filter4_f_2002_17158)"><ellipse cx="5.508" cy="30.599" fill="#7e14ff" rx="5.508" ry="30.599" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(89.814 -32.454 -1.99)scale(1 -1)"/></g><g filter="url(#vite__filter5_f_2002_17158)"><ellipse cx="14.072" cy="22.078" fill="#ede6ff" rx="14.072" ry="22.078" style="fill:#ede6ff;fill:color(display-p3 .9275 .9033 1);fill-opacity:1" transform="rotate(93.35 24.506 48.493)scale(-1 1)"/></g><g filter="url(#vite__filter6_f_2002_17158)"><ellipse cx="3.47" cy="21.501" fill="#7e14ff" rx="3.47" ry="21.501" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(89.009 28.708 47.59)scale(-1 1)"/></g><g filter="url(#vite__filter7_f_2002_17158)"><ellipse cx="3.47" cy="21.501" fill="#7e14ff" rx="3.47" ry="21.501" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(89.009 28.708 47.59)scale(-1 1)"/></g><g filter="url(#vite__filter8_f_2002_17158)"><ellipse cx=".387" cy="8.972" fill="#7e14ff" rx="4.407" ry="29.108" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(39.51 .387 8.972)"/></g><g filter="url(#vite__filter9_f_2002_17158)"><ellipse cx="47.523" cy="-6.092" fill="#7e14ff" rx="4.407" ry="29.108" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(37.892 47.523 -6.092)"/></g><g filter="url(#vite__filter10_f_2002_17158)"><ellipse cx="41.412" cy="6.333" fill="#47bfff" rx="5.971" ry="9.665" style="fill:#47bfff;fill:color(display-p3 .2799 .748 1);fill-opacity:1" transform="rotate(37.892 41.412 6.333)"/></g><g filter="url(#vite__filter11_f_2002_17158)"><ellipse cx="-1.879" cy="38.332" fill="#7e14ff" rx="4.407" ry="29.108" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(37.892 -1.88 38.332)"/></g><g filter="url(#vite__filter12_f_2002_17158)"><ellipse cx="-1.879" cy="38.332" fill="#7e14ff" rx="4.407" ry="29.108" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(37.892 -1.88 38.332)"/></g><g filter="url(#vite__filter13_f_2002_17158)"><ellipse cx="35.651" cy="29.907" fill="#7e14ff" rx="4.407" ry="29.108" style="fill:#7e14ff;fill:color(display-p3 .4922 .0767 1);fill-opacity:1" transform="rotate(37.892 35.651 29.907)"/></g><g filter="url(#vite__filter14_f_2002_17158)"><ellipse cx="38.418" cy="32.4" fill="#47bfff" rx="5.971" ry="15.297" style="fill:#47bfff;fill:color(display-p3 .2799 .748 1);fill-opacity:1" transform="rotate(37.892 38.418 32.4)"/></g></g><defs><filter id="vite__filter0_f_2002_17158" width="60.045" height="41.654" x="-19.77" y="16.149" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="7.659"/></filter><filter id="vite__filter1_f_2002_17158" width="90.34" height="51.437" x="-54.613" y="-7.533" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="7.659"/></filter><filter id="vite__filter2_f_2002_17158" width="79.355" height="29.4" x="-49.64" y="2.03" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter3_f_2002_17158" width="79.579" height="29.4" x="-45.045" y="20.029" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter4_f_2002_17158" width="79.579" height="29.4" x="-43.513" y="21.178" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter5_f_2002_17158" width="74.749" height="58.852" x="15.756" y="-17.901" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="7.659"/></filter><filter id="vite__filter6_f_2002_17158" width="61.377" height="25.362" x="23.548" y="2.284" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter7_f_2002_17158" width="61.377" height="25.362" x="23.548" y="2.284" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter8_f_2002_17158" width="56.045" height="63.649" x="-27.636" y="-22.853" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter9_f_2002_17158" width="54.814" height="64.646" x="20.116" y="-38.415" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter10_f_2002_17158" width="33.541" height="35.313" x="24.641" y="-11.323" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter11_f_2002_17158" width="54.814" height="64.646" x="-29.286" y="6.009" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter12_f_2002_17158" width="54.814" height="64.646" x="-29.286" y="6.009" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter13_f_2002_17158" width="54.814" height="64.646" x="8.244" y="-2.416" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter><filter id="vite__filter14_f_2002_17158" width="39.409" height="43.623" x="18.713" y="10.588" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur result="effect1_foregroundBlur_2002_17158" stdDeviation="4.596"/></filter></defs>
                  </svg>
                  
                  

                </div>
                <span class="text-white font-medium text-xs text-center">Vite</span>
              </div>




            </div>





          </div>
        </div>

      </div>
      </div>
    </section>