
@import "tailwindcss";


/* ===========================
   TUS ESTILOS PERSONALIZADOS
   =========================== */

.project-card {
  background: rgba(20, 25, 45, 0.7);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,.08);
}
